* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #fff;
  margin: 0 2rem;
}
.hidden {
  display: none;
}

:root {
  --accent-1-color: #485c11;
  --accent-2-color: #8e9c78;
  --accent-3-color: #dfecc6;
  --text-primary-color: #000000;
  --text-secondary-color: #929292;
  --font-paragraph: "Crimson Text", sans-serif;
  --font-heading: "DM Sans", sans-serif;
  --primary-font-size: 700;
  --secondary-font-size: 500;
  --accent-font-size: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100dvw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 100dvw;
  position: relative;
  z-index: 20;
  background: #fff;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hero-container {
  height: 100dvh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;

  div {
    font-size: 7rem;
    text-align: center;
    margin: 2rem;
    font-family: var(--font-paragraph);
    font-weight: var(--primary-font-size);
  }

  .hero-rectangle {
    width: 70%;
    height: 40%;
    background-color: var(--accent-2-color);
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    margin: 0;
  }

  .hero-image {
    position: absolute;
    bottom: -20%;
    z-index: 10;
  }
}

.container {
  position: relative;
  width: 100%;
}

.nav-bar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  .hamburger-menu {
    display: none;
  }

  button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    background-color: var(--accent-1-color);
    color: #fff;
    font-family: var(--font-heading);
    font-size: 1rem;
    font-weight: var(--primary-font-size);
    cursor: pointer;
  }

  div {
    font-family: var(--font-heading);
    font-weight: var(--secondary-font-size);
    font-size: 2rem;
  }

  button:hover {
    background-color: var(--accent-2-color);
    transition: ease-in-out 0.2s;
    color: #000;
  }
}

.nav-items {
  font-family: var(--font-heading);
  font-weight: var(--primary-font-size);
  display: flex;
  gap: 2rem;
  position: fixed;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.29);
  padding: 1.5rem 1.5rem;
  border-radius: 60px;
}

.section-format {
  width: 100%;
  border-bottom: 1px solid var(--text-secondary-color);
}

.trusted-section {
  div {
    font-family: var(--font-heading);
    font-weight: var(--accent-font-size);
    font-size: 1rem;
    text-align: start;
    color: var(--text-secondary-color);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    padding: 4rem;
  }
}

.benefits-text {
  height: 33.33dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  div {
    font-family: var(--font-paragraph);
    font-weight: var(--secondary-font-size);
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: var(--font-heading);
    font-weight: var(--accent-font-size);
    font-size: 1.5rem;
    color: var(--text-secondary-color);
    margin-bottom: 1rem;
  }
}

.benefits-cards-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.benefits-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  margin: 2rem 0;

  div {
    font-family: var(--font-heading);
    font-weight: var(--accent-font-size);
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  p {
    font-family: var(--font-paragraph);
    font-weight: var(--accent-font-size);
    font-size: 1.5rem;
    color: var(--text-secondary-color);
  }
  img {
    width: 24px;
    height: 24px;
  }
}

.benefits-img {
  margin: 2rem 0rem;
  border-radius: 40px;
}
.big-picture-section {
  display: flex;
  margin: 2rem 0;
  justify-content: space-around;
}

.big-picture {
  margin: 4rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-direction: column;

  div {
    font-family: var(--font-paragraph);
    font-weight: var(--secondary-font-size);
    font-size: 4rem;
  }

  p {
    font-family: var(--font-heading);
    font-weight: var(--accent-font-size);
    font-size: 1rem;
    color: var(--text-secondary-color);
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      gap: 2rem;
      font-family: var(--font-paragraph);
      font-weight: var(--accent-font-size);
      font-size: 1.5rem;
      color: var(--text-secondary-color);
      border-bottom: #929292 1px solid;
      padding: 1rem 0;

      span {
        font-weight: var(--primary-font-size);
        font-size: 1.5rem;
        color: var(--text-primary-color);
        font-family: var(--font-heading);
      }
    }

    li:first-child {
      margin-top: 1rem;
      border-top: #929292 1px solid;
    }

    li:last-child {
      border-bottom: none;
    }
  }

  button {
    width: 20%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 30px;
    background-color: var(--accent-3-color);
    color: #000;
    font-family: var(--font-heading);
    font-size: 1rem;
    font-weight: var(--primary-font-size);
    cursor: pointer;
  }

  button:hover {
    background-color: var(--accent-1-color);
    transition: ease-in-out 0.2s;
    color: #fff;
  }
}

.big-picture-image {
  width: 40%;
  height: auto;

  img {
    border-radius: 40px;
    margin: 2rem 0;
  }
}

.specs-grid {
  max-width: 100%;
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 100dvh;
  justify-content: center;

  .CTA {
    display: flex;
    height: 100%;
    column-span: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    div {
      font-family: var(--font-paragraph);
      font-weight: (--secondary-font-size);
      font-size: 5rem;
    }

    p {
      font-family: var(--font-heading);
      font-weight: var(--accent-font-size);
      font-size: 1rem;
      color: var(--text-secondary-color);
      text-align: center;
    }

    button {
      padding: 1rem 1rem;
      border: none;
      border-radius: 30px;
      background-color: var(--accent-3-color);
      color: #000;
      font-family: var(--font-heading);
      font-size: 1rem;
      font-weight: var(--primary-font-size);
      cursor: pointer;
    }

    button:hover {
      background-color: var(--accent-1-color);
      transition: ease-in-out 0.2s;
      color: #fff;
    }
  }
}

.spec-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    font-family: var(--font-heading);
    padding: 2rem 0rem;
    font-weight: var(--accent-font-size);
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: var(--text-secondary-color);
    border-bottom: #929292 1px solid;
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;

    li {
      padding: 2rem 0rem;
      height: 1/6;
      font-family: var(--font-paragraph);
      font-weight: var(--accent-font-size);
      font-size: 1rem;
      color: var(--text-secondary-color);
      border-bottom: #c9c9c9 0.5px solid;
      width: 100%;

      span {
        margin-left: 1rem;
      }
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 0.5rem;
    }
  }
}

.card-highlight {
  border-radius: 15px;
  box-shadow: 2px 8px 16px 4px rgba(28, 28, 28, 0.1);

  div {
    color: var(--text-primary-color);
  }

  li {
    border-right: none;
  }

  li:last-child {
    border-bottom: none;
  }

  span {
    color: var(--text-primary-color);
  }
}

.contact-section {
  justify-content: center;
  gap: 2rem;
  align-items: center;
  max-width: 100%;
  height: 50dvh;
  border-bottom: 1px solid var(--text-secondary-color);
  margin: 0 2rem;

  div {
    font-family: var(--font-paragraph);
    font-weight: var(--secondary-font-size);
    font-size: 4rem;
  }

  P {
    font-family: var(--font-heading);
    font-weight: var(--accent-font-size);
    font-size: 1rem;
    color: var(--text-secondary-color);
    text-align: center;
  }

  button {
    width: 50%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 30px;
    background-color: var(--accent-1-color);
    color: #fff;
    font-family: var(--font-heading);
    font-size: 1rem;
    font-weight: var(--primary-font-size);
    cursor: pointer;
  }

  button:hover {
    background-color: var(--accent-2-color);
    transition: ease-in-out 0.2s;
    color: #000;
  }
}

.form-section {
  height: 80dvh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    label {
      font-family: var(--font-heading);
      font-weight: var(--secondary-font-size);
      font-size: 1.5rem;
      margin: 1rem 0;
    }
    input {
      font-size: 1rem;
      padding: 1rem 0rem;
      width: 40%;
      border-bottom: 1px solid var(--text-secondary-color);
      border-top: none;
      border-left: none;
      border-right: none;
    }
    input,
    textarea:focus {
      outline: none;
    }

    textarea {
      font-size: 1rem;
      padding: 1rem 0rem;
      width: 80%;
      height: 20dvh;
      border-bottom: 1px solid var(--text-secondary-color);
      border-top: none;
      border-left: none;
      border-right: none;
      resize: none;
    }
  }

  button {
    margin-top: 2rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 999px;
    background-color: var(--accent-1-color);
    color: #fff;
    font-family: var(--font-heading);
    font-size: 1rem;
    font-weight: var(--primary-font-size);
    cursor: pointer;
  }

  button:hover {
    background-color: var(--accent-2-color);
    transition: ease-in-out 0.2s;
    color: #000;
  }
}

.thank-you-note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-heading);
  font-weight: var(--secondary-font-size);
  font-size: 1.5rem;
  color: var(--text-primary-color);
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

footer {
  max-width: 100%;
  width: 100dvw;
  height: 20dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0, 2rem;

  ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
    padding-top: 2rem;

    li {
      font-family: var(--font-heading);
      font-weight: var(--secondary-font-size);
      font-size: 1rem;
      color: var(--text-primary-color);
    }
  }
}

.footer-logo {
  font-family: var(--font-heading);
  font-weight: var(--secondary-font-size);
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: start;
  align-items: end;
  margin: 2rem;
  padding: 2rem 0;

  p {
    margin-left: 2rem;
    color: var(--accent-1-color);
  }
}

.footer-rights {
  font-family: var(--font-heading);
  font-weight: var(--secondary-font-size);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 2rem;
  padding: 2rem 0;

  p {
    color: var(--accent-1-color);
  }
}
/* Media queries for responsiveness */

@media (max-width: 768px) {
  header {
    margin: 0;
    width: auto;
  }

  .nav-bar {
    position: relative;
    .desktop-button {
      display: none;
    }

    .mobile-nav-items {
      position: absolute;
      top: 60px;
      left: 0;
      flex-direction: column;
      gap: 1rem;
      background-color: #fff;
      z-index: 40;
      margin: 2rem 2;
      width: 100%;

      li {
        font-family: var(--font-heading);
        font-weight: var(--primary-font-size);
        font-size: 1rem;
        padding: 2rem 0;
      }
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 0.2rem;

      .bar {
        display: block;
        width: 20px;
        height: 2px;
        margin: 0 auto;
        background-color: #fff;
      }
    }
  }

  .nav-items {
    display: none;
  }

  .hero-container {
    height: 80dvh;

    div {
      font-size: 4rem;
      text-align: center;
    }

    .hero-rectangle {
      margin: 0 2rem;
      width: 100%;
      height: 40%;
    }
  }

  .trusted-section {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  .benefits-text {
    height: auto;
    justify-content: start;
    div {
      font-size: 3rem;
    }
  }

  .benefits-cards-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .benefits-card {
      width: 80%;
      height: auto;

      div {
        font-family: var(--font-heading);
        font-weight: var(--accent-font-size);
        font-size: 1rem;
        margin: 1rem 0;
      }

      p {
        font-family: var(--font-paragraph);
        font-weight: var(--accent-font-size);
        font-size: 1rem;
        color: var(--text-secondary-color);
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .big-picture-section {
    flex-direction: column;
    align-items: center;
  }

  .big-picture {
    width: 100%;

    button {
      width: 40%;
    }
  }

  .big-picture-image {
    width: 100%;

    img {
      width: 100%;
    }
  }
  .contact-section {
    div {
      font-size: 2rem;
      font-weight: var(--primary-font-size);
    }

    p {
      font-size: 1rem;
    }
  }
  .specs-grid {
    display: flex;
    flex-direction: column;

    .CTA {
      div {
        font-size: 3rem;
        text-align: center;
      }

      button {
        text-align: center;
        width: 30%;
        margin: 1rem 2rem;
        padding: 2rem 1rem;
      }
    }
  }

  footer {
    display: none;
  }
}
